---
import { getCollection, type CollectionEntry } from "astro:content";
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = async () => {
    const posts = await getCollection("posts");

    return posts.map((post) => ({
        params: {
            slugx: post.slug,
        },
        props: {
            post: post,
        },
    }));
};

interface Props {
    post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
    <section class="page-content">
        <div class="container">
            <Card>
                <a class="btn" href="/blog">Go Back</a>
                <h2>{post.data.title}</h2>
                <div>
                    Written by <strong>{post.data.author}</strong> on {
                        new Date(post.data.date).toLocaleDateString()
                    }
                </div>
                <Content />
            </Card>
        </div>
    </section>
</Layout>
