---
import Card from "../../components/Card.astro";
import Showcase from "../../components/Showcase.astro";
import Layout from "../../layouts/Layout.astro";

// const res = await fetch("https://jsonplaceholder.typicode.com/posts?_limit=5");
// const posts = await res.json();

const posts = await Astro.glob("../../posts/*.md");
---

<Layout title="Astro Blog">
    <Showcase heading="Astro Blog" text="Simple blog build with astro" />
    <section class="page-content">
        <div class="container">
            {
                posts?.map((post) => (
                    <Card>
                        <h2>{post.frontmatter.title}</h2>
                        <>
                            <div>
                                Written by{" "}
                                <strong>{post.frontmatter.author} </strong> on{" "}
                                {new Date(
                                    post.frontmatter.date
                                ).toLocaleDateString()}
                            </div>
                            <p>{post.frontmatter.excerpt}</p>
                        </>
                        <a href={`/blog/${post.frontmatter.slug}`} class="btn">
                            Read More
                        </a>
                    </Card>
                ))
            }
        </div>
    </section>
</Layout>
